@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

html,
body {
  background-color: #000000;
  width: 100%;
}

section {
  width: 1440px;
  margin: auto;
  cursor: pointer;
  background-color: hsl(0, 0%, 98%);
  overflow: hidden;
  padding-top: 15px;
}

header {
  width: 1440px;
  margin: auto;
  padding: 20px 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 200;
  border-bottom: 1px solid hsl(136, 65%, 51%);
}

#open, #close {
  display: none;
  position: absolute;
  right: 1%;
  margin-right: 15px;
  top: 40%;
}

.panel{
  width: 325px;
  background-color: #ffffff;
  height: 0;
  position: absolute;
  z-index: 300;
  left: 50%;
  margin-left: -162.5px;
  margin-top: 25px;
  text-align: center;
  transition: 0.3s ease-in;
}

.panel-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 205px;
  display: none;
}

.panel-list li {
  font-size: 15px;
  list-style-type: none;
  color: hsl(228, 39%, 23%);
  font-weight: 600;
  transition: 1s ease-in;
}


header ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

header ul > li {
  list-style-type: none;
  color: hsl(233, 8%, 62%);
}

header button {
  padding: 13px 38px;
  border-radius: 50px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  background-image: linear-gradient(
    to bottom right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}

.first-div {
  position: relative;
  padding-left: 165px;
  margin-bottom: 170px;
}

.first-div-writeup {
  width: 33.7%;
}

.first-div-writeup h1 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  font-size: 55px;
  padding-top: 180px;
  margin-bottom: 30px;
}

.first-div-writeup p {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 35px;
}

.first-div-writeup button {
  padding: 13px 38px;
  border-radius: 50px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  background-image: linear-gradient(
    to bottom right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}

.background {
  position: absolute;
  right: -32%;
  top: -50%;
}

.first-div-image {
  z-index: 100;
  position: absolute;
  right: -8%;
  top: -20%;
}

.second-div {
  padding: 100px 165px;
  background-color: #f4f5f7;
}

.second-div-writeup {
  width: 47.8%;
}

.second-div-writeup h1 {
  color: hsl(233, 26%, 24%);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
}

.second-div-writeup p {
  color: hsl(233, 8%, 62%);
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 75px;
}

.second-div-card-container {
  display: flex;
  gap: 30px;
}

.second-div-card-container h1 {
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 30px;
  color: hsl(233, 26%, 24%);
}

.second-div-card-container p {
  color: hsl(233, 8%, 62%);
  line-height: 28px;
  font-size: 18px;
}

.third-div {
  background-color: #fafafa;
  padding: 0 165px;
  padding-top: 95px;
  padding-bottom: 80px;
}

.third-div > h1 {
  color: hsl(233, 26%, 24%);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 55px;
}

.third-div-card-container {
  display: flex;
  gap: 30px;
}

.third-div-card-container img {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.third-div-card-container div {
  width: 255px;
  background-color: #ffffff;
  padding-bottom: 30px;
  border-radius: 7px;
}

.name {
  font-size: 10px;
  padding: 0 25px;
  margin-bottom: 15px;
}

.third-div-card-container h1 {
  font-weight: 400;
  font-size: 18px;
  padding: 0 25px;
  margin-bottom: 15px;
}

.writeup {
  padding: 0 25px;
  font-size: 13px;
  line-height: 20px;
  color: hsl(233, 8%, 62%);
}

footer {
  background-color: hsl(233, 26%, 24%);
  padding: 45px 165px;
  display: flex;
  justify-content: space-between;
}

.logo-link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.links-container {
  color: #ffffff;
  display: flex;
  gap: 130px;
}

.links-container div {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.icons i {
  color: #ffffff;
  font-size: 18px;
}

.copywright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

.copywright button {
  padding: 14px 38px;
  border-radius: 50px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  background-image: linear-gradient(
    to bottom right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  font-size: 15px;
  letter-spacing: 1px;
}

.copywright p {
  color: hsl(233, 8%, 62%);
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 374px and BELOW */
@media screen and (max-width: 374px) {
  section {
    width: 100%;
  }

  header {
    width: 100%;
    padding: 20px;
  }

  header ul {
    display: none;
  }

  #open {
    display: block;
  }

  #close {
    display: block;
  }

  header button {
    display: none;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -16%;
  }

  .background {
    width: 100%;
    right: 22%;
    top: -34%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 100%;
    padding: 0 30px;
    padding-top: 200px;
    text-align: center;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 100%;
  }

  .second-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    flex-direction: column;
  }

  .third-div-card-container div {
    width: 100%;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
  }

  .links-container {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 375px TO 450px */

@media screen and (min-width: 375px) and (max-width: 450px) {
  section {
    width: 375px;
  }

  header {
    width: 375px;
    padding: 20px;
  }

  header ul {
    display: none;
  }

  #open {
    display: block;
  }

  #close {
    display: block;
  }

  header button {
    display: none;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -16%;
  }

  .background {
    width: 100%;
    right: 22%;
    top: -34%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 100%;
    padding: 0 30px;
    padding-top: 200px;
    text-align: center;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 100%;
  }

  .second-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    flex-direction: column;
  }

  .third-div-card-container div {
    width: 100%;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
  }

  .links-container {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 451px TO 525px */

@media screen and (min-width: 451px) and (max-width: 525px) {
  section {
    width: 450px;
  }

  header {
    width: 450px;
    padding: 20px;
  }

  header ul {
    display: none;
  }

  #open {
    display: block;
  }

  #close {
    display: block;
  }

  header button {
    display: none;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -16%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -40%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 100%;
    padding: 0 30px;
    padding-top: 250px;
    text-align: center;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 100%;
  }

  .second-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container div {
    width: 80%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    flex-direction: column;
  }

  .third-div-card-container div {
    width: 80%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
  }

  .links-container {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 526px TO 600px */
@media screen and (min-width: 526px) and (max-width: 600px) {
  section {
    width: 525px;
  }

  header {
    width: 525px;
    padding: 20px;
  }

  header ul {
    display: none;
  }

  #open {
    display: block;
  }

  #close {
    display: block;
  }

  header button {
    display: none;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -16%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -42%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 100%;
    padding: 0 30px;
    padding-top: 350px;
    text-align: center;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 100%;
  }

  .second-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container div {
    width: 80%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    flex-direction: column;
  }

  .third-div-card-container div {
    width: 80%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
  }

  .links-container {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 601px TO 685px */

@media screen and (min-width: 601px) and (max-width: 685px) {
  section {
    width: 600px;
  }

  header {
    width: 600px;
    padding: 20px;
  }

  header ul {
    display: none;
  }

  #open {
    display: block;
  }

  #close {
    display: block;
  }

  header button {
    display: none;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -16%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -42%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 100%;
    padding: 0 30px;
    padding-top: 450px;
    text-align: center;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 100%;
  }

  .second-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container div {
    width: 70%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    flex-direction: column;
  }

  .third-div-card-container div {
    width: 70%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
  }

  .links-container {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 686px TO 767px */
@media screen and (min-width: 686px) and (max-width: 767px) {
  section {
    width: 685px;
  }

  header {
    width: 685px;
    padding: 20px;
  }

  header ul {
    display: none;
  }

  #open {
    display: block;
  }

  #close {
    display: block;
  }

  header button {
    display: none;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -16%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -42%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 80%;
    padding: 0 30px;
    padding-top: 550px;
    text-align: center;
    margin: auto;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 100%;
  }

  .second-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container div {
    width: 60%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    flex-direction: column;
  }

  .third-div-card-container div {
    width: 60%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
  }

  .links-container {
    flex-direction: column;
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 768px TO 840px */

@media screen and (min-width: 768px) and (max-width: 840px) {
  section {
    width: 767px;
  }

  header {
    width: 767px;
    padding: 20px;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -16%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -42%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 70%;
    padding: 0 30px;
    padding-top: 650px;
    text-align: center;
    margin: auto;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 70%;
    margin: auto;
  }

  .second-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container div {
    width: 50%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .third-div-card-container div {
    width: 90%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    padding: 40px 45px;
    text-align: center;
    align-items: center;
  }

  .links-container {
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 841px TO 915px */

@media screen and (min-width: 841px) and (max-width: 915px) {
  section {
    width: 840px;
  }

  header {
    width: 840px;
    padding: 20px;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -25%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -50%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 60%;
    padding: 0 30px;
    padding-top: 600px;
    text-align: center;
    margin: auto;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 60%;
    margin: auto;
  }

  .second-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container div {
    width: 50%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .third-div-card-container div {
    width: 90%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    padding: 40px 45px;
    text-align: center;
    align-items: center;
  }

  .links-container {
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 916px TO 990px */

@media screen and (min-width: 916px) and (max-width: 990px) {
  section {
    width: 915px;
  }

  header {
    width: 915px;
    padding: 20px;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -30%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -60%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 60%;
    padding: 0 30px;
    padding-top: 650px;
    text-align: center;
    margin: auto;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 60%;
    margin: auto;
  }

  .second-div-writeup p {
    font-size: 18px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container div {
    width: 40%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 15px;
    line-height: 25px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .third-div-card-container div {
    width: 80%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    padding: 40px 45px;
    text-align: center;
    align-items: center;
  }

  .links-container {
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 991px TO 1065px */

@media screen and (min-width: 991px) and (max-width: 1065px) {
  section {
    width: 990px;
  }

  header {
    width: 990px;
    padding: 20px;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -30%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -60%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 60%;
    padding: 0 30px;
    padding-top: 700px;
    text-align: center;
    margin: auto;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 15px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 50%;
    margin: auto;
  }

  .second-div-writeup p {
    font-size: 18px;
    line-height: 25px;
  }

  .second-div-card-container {
    flex-direction: column;
    text-align: center;
  }

  .second-div-card-container div {
    width: 40%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 18px;
    line-height: 27px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .third-div-card-container div {
    width: 70%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    padding: 40px 45px;
    text-align: center;
    align-items: center;
  }

  .links-container {
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 1066px TO 1140px */

@media screen and (min-width: 1066px) and (max-width: 1140px) {
  section {
    width: 1065px;
  }

  header {
    width: 1065px;
    padding: 20px;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -30%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -60%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 60%;
    padding: 0 30px;
    padding-top: 750px;
    text-align: center;
    margin: auto;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 18px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 50%;
    margin: auto;
  }

  .second-div-writeup p {
    font-size: 18px;
    line-height: 25px;
  }

  .second-div-card-container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
  }

  .second-div-card-container div {
    width: 70%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 18px;
    line-height: 27px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .third-div-card-container div {
    width: 70%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    padding: 40px 45px;
    text-align: center;
    align-items: center;
  }

  .links-container {
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 1141px TO 1439px */

@media screen and (min-width: 1141px) and (max-width: 1439px) {
  section {
    width: 1140px;
  }

  header {
    width: 1140px;
    padding: 20px;
  }

  .first-div {
    width: 100%;
    padding: 0;
    margin-bottom: 90px;
  }

  .first-div-image {
    width: 100%;
    right: 0;
    top: -30%;
  }

  .background {
    width: 100%;
    right: 25%;
    top: -65%;
  }

  .first-div-image img {
    width: 100%;
  }

  .background img {
    width: 200%;
  }

  .first-div-writeup {
    width: 60%;
    padding: 0 30px;
    padding-top: 850px;
    text-align: center;
    margin: auto;
  }

  .first-div-writeup h1 {
    font-size: 40px;
  }

  .first-div-writeup p {
    font-size: 18px;
    line-height: 25px;
  }

  .second-div {
    padding: 65px 30px;
  }

  .second-div-writeup {
    text-align: center;
    width: 50%;
    margin: auto;
  }

  .second-div-writeup p {
    font-size: 18px;
    line-height: 25px;
  }

  .second-div-card-container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
  }

  .second-div-card-container div {
    width: 70%;
    margin: auto;
  }

  .second-div-card-container p {
    font-size: 18px;
    line-height: 27px;
  }

  .third-div {
    padding: 90px 30px;
  }

  .third-div-card-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .third-div-card-container div {
    width: 60%;
    margin: auto;
  }

  .third-div-card-container h1 {
    font-size: 16px;
  }

  footer {
    padding: 40px 45px;
    text-align: center;
    align-items: center;
  }

  .links-container {
    gap: 22px;
    margin-bottom: 22px;
  }

  .logo-link-container {
    margin-bottom: 22px;
    gap: 25px;
  }

  .icons {
    justify-content: center;
    gap: 30px;
  }

  .copywright {
    gap: 22px;
  }

  .copywright button {
    width: 160px;
    padding: 14px 0;
    margin: auto;
  }
}
